* {
    font-family: "Poppins", sans-serif;
}
/* Some Globale Styles */
ul {
    list-style: none;
}
a {
    font-size: 15px;
    text-decoration: none;
}
/* Start Header */
.header {
    border: 1px solid #dce0e6;
    height: 70px;
}
.header .container {
    height: 100%;
}
.header .logo {
    font-size: 2rem;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
}
.header ul li a {
    color: #333;
    font-weight: 600;
}
.header ul li:last-of-type a {
    border-color: #0d7a5f;
    color: #0d7a5f;
    transition: 0.3s ease-in-out;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}
.header ul li:last-of-type a:hover {
    background-color: #0d7a5f;
    color: #fff;
}
/* End Header */
/* Start Discover */
.shape_1 {
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}
.shape_2 {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 40px;
}

.discover .bg {
    background: linear-gradient(#fff, 15%, #ecf7ef);
    height: 150px;
}
.discover .bg img {
    position: absolute;
    right: 0;
    top: -60px;
}
.discover .inf {
    padding-top: 8rem;
}
.discover .inf h1 {
    font-size: 4rem;
    color: #2b4c32;
    font-weight: 600;
    line-height: 1.6;
}
.discover .inf button {
    padding: 1.4rem 2.4rem;
    border-radius: 50px;
    border: transparent;
    background-color: #0d7a5f;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transition: 0.3s ease-in-out;
}
.discover .inf button:hover {
    background-color: #074b3a;
}
.discover .inf button i {
    color: #fff;
}
.discover .inf input {
    width: 100%;
    padding: 1.4rem;
    border-radius: 50px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    outline: transparent;
    border: 2px solid #0d7a5f;
    max-width: 650px;
}
.discover .inf .list {
    position: absolute;
    min-height: 350px;
    visibility: hidden;
    overflow: hidden;
    top: calc(100% + 15px);
    max-width: 100%;
    border: 2px solid #0d7a5f;
    width: 750px;
    border-radius: 5px;
    z-index: 9;
    background-color: #fff;
}
.discover .inf .list li {
    width: 100%;
    padding: 1rem 1.3rem;
    transition: 0.3s ease-in-out;
    text-align: left;
}
.discover .inf .list li:hover {
    cursor: pointer;
    background-color: #eee;
}
.discover .categories {
    padding-bottom: 1rem;
    border-bottom: 1px solid #dce0e6;
    margin-top: 4rem !important;
}
.discover .categories li {
    cursor: pointer;
    color: #545756;
    font-size: 1.3rem;
}
.discover .categories li i {
    display: block;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    justify-content: center;
}
.discover .categories li span {
    font-size: 0.8rem;
}
.discover .categories li:hover i {
    background-color: #eee;
}
.discover .categories li.active span {
    color: #066599;
    font-weight: 600;
}
.discover .categories li.active i {
    background-color: #066599;
    color: #fff;
}
/* Start container_info_categories */
.container_info_categories .btns {
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.container_info_categories .btns button {
    padding-left: 2rem;
    font-size: 15px;
    padding-right: 2rem;
    border-radius: 50px;
}
.container_info_categories .btns button:hover {
    background-color: rgb(13 122 95 / 10%);
    color: #333;
    border-color: #0d7a5f;
}
.container_info_categories .inf {
    width: 80%;
    margin-top: 2rem;
    justify-content: end;
    border-radius: 20px;
    background-color: rgba(186, 231, 255, 0.5);
    padding: 2rem 1rem;
}
.container_info_categories .inf .box_inf {
    background-color: #fff;
    z-index: 8;
    position: absolute;
    width: 380px;
    max-width: 100%;
    text-align: left;
    padding: 3rem 1.5rem;
    border-radius: 10px;
    left: 40px;
}
.container_info_categories .inf .box_inf h3 {
    font-size: 20px;
    margin-bottom: 2rem;
}
.container_info_categories .inf .box_inf p {
    display: flex;
    font-size: 15px;
    gap: 20px;
}
.container_info_categories .inf img {
    pointer-events: none;
    width: 828px;
    height: 435px;
    object-fit: cover;
    border-radius: 10px;
    max-width: 100%;
}
/* Start popular_project */
.popular_project {
    padding: 6rem 0;
}
.popular_project .container_boxs {
    display: grid;
    margin-top: 2rem;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.popular_project .box {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.popular_project .container_boxs .box img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.popular_project .container_boxs .box h3 {
    padding: 1rem;
    font-size: 15px;
    text-align: center;
}
.popular_project .shape_4 {
    position: absolute;
    bottom: 20px;
}
/* Start Client Review */
.client_reviews {
    padding: 6rem 0;
}
.swiper {
    width: 100%;
    padding: 2rem 0;
}
.box_review {
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    border: 1px solid #0d7a5f;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.box_review i {
    position: absolute;
    right: 20px;
    font-size: 60px;
    color: rgba(149, 157, 165, 0.2);
}
.box_review p {
    margin-top: 4rem;
    line-height: 1.7;
}
/* Start How it Work */
.how_it_work {
    padding: 3rem;
    background-color: #fffce4;
}
.how_it_work .inf {
    width: 80%;
    margin-top: 2rem;
    justify-content: end;
    border-radius: 20px;
    padding: 2rem 1rem;
}
.how_it_work .inf .box_inf {
    background-color: #fff;
    z-index: 8;
    position: absolute;
    width: 380px;
    max-width: 100%;
    text-align: left;
    padding: 3rem 1.5rem;
    border-radius: 10px;
    left: 40px;
}
.how_it_work .inf .box_inf h3 {
    font-size: 20px;
    margin-bottom: 2rem;
}
.how_it_work .inf .box_inf p {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 20px;
}
.how_it_work .inf .box_inf span {
    display: block;
    min-width: 50px;
    height: 50px;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: center;
}
.how_it_work .inf .box_inf .par p:first-of-type span {
    background-color: #d7d7fd;
}
.how_it_work .inf .box_inf .par p:nth-child(2) span {
    background-color: #fffce4;
}
.how_it_work .inf .box_inf .par p:last-of-type span {
    background-color: #e3ffef;
}

.how_it_work .inf img {
    pointer-events: none;
    width: 828px;
    height: 435px;
    object-fit: cover;
    border-radius: 10px;
    max-width: 100%;
}
/* start footer */
.footer p {
    color: #8c8ea2;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.footer ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer ul li {
    width: 40px;
    height: 40px;
    border: 2px solid #8c8ea2;
    color: #8c8ea2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.footer ul li:hover {
    background-color: #fff;
    border: transparent;
    color: #333;
}
/*  */
.panels {
    --panel-width: calc(100% / 6);
    --darkblue: #0d7a5f;
    position: fixed;
    top: 0;
    left: 50%;
    width: 180vw;
    height: 100%;
    transform: translateX(-50%) skewX(-35deg);
    clip-path: circle(100%);
    z-index: 1;
    background: #fff;
}
.panels .panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--panel-width);
    transform: scaleY(0);
    transform-origin: top;
    background: var(--darkblue);
}
.panels .panel:nth-child(even) {
    transform-origin: bottom;
}
.panels .panel:nth-child(2) {
    left: calc(var(--panel-width) - 1px);
}

.panels .panel:nth-child(3) {
    left: calc(calc(var(--panel-width) * 2) - 2px);
}

.panels .panel:nth-child(4) {
    left: calc(calc(var(--panel-width) * 3) - 4px);
}

.panels .panel:nth-child(5) {
    left: calc(calc(var(--panel-width) * 4) - 5px);
}

.panels .panel:nth-child(6) {
    left: calc(calc(var(--panel-width) * 5) - 6px);
}

.page-main {
    clip-path: circle(20%);
    overflow-y: auto;
    /* background: #fff; */
}
